
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Blogs</h2>

<h2>Lista de Blogs</h2>
<p>Este sitio agrupa enlaces a los principales Blogs de Programacion.</p>

<p><a href="https://wwww.getbootstrap.com">Get Bootstrap</a></p>