
@{
    ViewBag.Title = "Buscadores2";
}

<h2>Buscadores2</h2>

<h2>Lista de Buscadores</h2>
<p>Este sitio agrupa enlaces a los principales buscadores de internet.</p>

<p><a href="http://wwww.google.com">Google</a></p>