
@{
    ViewBag.Title = "Periodicos2";
}

<h2>Periodicos2</h2>

<h2>Lista de Periodicos</h2>
<p>Este sitio agrupa enlaces a los principales periodicos de la nacion.</p>

<p><a href="http://wwww.lapatria.com">La Patria</a></p>